:root {
  --title-blue: rgb(0, 38, 255);
}

html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 155px; 
}

.landingPageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 48px; 
  padding-top: 50px;
  padding-bottom: 50px;
}

.section {
  padding: 100px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secondaryNav {
  background-color: #ffffff;
  padding: 10px 30px;
  box-shadow: 0 1px 5px rgba(130, 130, 130, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  direction: rtl;
}

@media (min-width: 768px) {
  .secondaryNav {
    display: flex;
  }
}

.navLink {
  color: #555;
  text-decoration: none;
  padding: 5px 0;
}

.navLink:hover {
  color: #007bff;
}

.navLogoContainer {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  margin-right: 8px;
  font-size: 3rem;
  gap: 2px;
  font-weight: bold;
  align-items: center;
}

.navLogo {
  max-width: 50px;
  height: auto;
  object-fit: contain;
}

.navLinksContainer {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 1.9rem;
  align-items: center;
}

.navButtonsContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-left: 80px;
  align-items: center;
}

.container {
  background: var(--color-slate-gray);
  width: 100%;
  height: 70px;
  padding: 10px;
  color: var(--color-white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1010;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container h1 {
  font-size: 3rem;
  font-weight: normal;
  font-family: "Griffy", cursive;
  color: var(--color-papaya-whip);
}

@media (max-width: 600px) {
  .landingPageContainer {
    gap: 18px;
    padding-top: 220px;
    padding-bottom: 20px;
  }

  .section {
    padding: 32px 6px;
    font-size: 1rem;
  }

  .secondaryNav {
    flex-direction: column;
    padding: 6px 4px;
    gap: 8px;
    top: 0px;
    min-height: 44px;
    font-size: 1.1rem;
  }

  .navLogoContainer {
    font-size: 1.5rem;
    margin-right: 0;
    gap: 8px;
    justify-content: center;
  }

  .navLogo {
    max-width: 32px;
  }

  .navLinksContainer {
    flex-direction: column;
    gap: 8px;
    font-size: 1.1rem;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .navButtonsContainer {
    flex-direction: column;
    gap: 6px;
    margin-left: 0;
    justify-content: center;
    align-items: center;
  }

  .container h1 {
    font-size: 1.5rem;
  }

}