.card {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.07);
    padding: 24px;
    min-height: 200px;
    direction: rtl;
  }
  .card:hover {
    box-shadow: 0 3px 34px rgba(0,0,0,0.10);
  }

  .header {
    margin-bottom: 12px;
  }
  .title {
    font-size: 2.8rem;
    font-weight: bold;
  }
  .list {
    list-style: none;
    margin: 0;
  }

  .list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
    padding: 17.2px 0;
    font-size: 1.2rem;
    direction: rtl;
    margin-bottom: 10px;
  }

  .topic {
    flex: 2;
    text-align: right;
    font-weight: bold;
    color: #222;
    margin-left: 16px;
    font-size: 1.6rem;
  }

  .list li:hover {
    cursor: pointer;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .count {
    flex: 1;
    text-align: left;
    color: #3b83f6;
    font-size: 1.4rem;
  }
  .buttonWrapper {
    text-align: left; 
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out; 
    padding-top: 10px;
  }
  .discoverAllButton {
    background-color: #ffffff; 
    color: #0066d2; 
    border: 1px solid #007bff;
    padding: 10px 40px; 
    border-radius: 5px; 
    font-size: 15px; 
    text-align: center; 
    cursor: pointer; 
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out; 
  }
  
  .discoverAllButton:hover {
    background-color: #ffffff; 
    color: #0066d2; 
    border: 1px solid #007bff;
    padding: 10px 40px; 
    border-radius: 5px; 
    font-size: 15px; 
    text-align: center; 
    cursor: pointer; 
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out; 
  }

  .discoverAllButton:hover {
    background-color: #ecf5ff; 
    color: #0056b3; 
    border-color: #0056b3;
  }

  .bg1 { background: #f4f7ff; border-radius: 10px; padding: 5px; }
  .bg2 { background: #dfe7ff; border-radius: 10px; padding: 5px; }
  .bg3 { background: #afcfff; border-radius: 10px; padding: 5px; }
  .bg4 { background: #f4f7ff; border-radius: 10px; padding: 5px; }

